#app{
    color: #fff;
    background-color:#191919;
   
}
    .logo-container{ 
    
        .nav{
            a{
                text-decoration: none;
                color: #fff;
            }
            li{
                list-style: none;
                display: inline-block;
                padding: 10px;
            }
        }
    }
  .icon-container{
    .icon-content{
        a{
            text-decoration: none;
            color: #fff;
        }
        li{
            margin-top: 10px;
            padding: 15px;
            list-style: none;
            display: inline-block;
        }
    }
  }
//such a kind of utility classes for Header