#app{
    color: #fff;
    background-color:#191919;
    height: 100vh;
}
    .logo-container{ 
    
        .finta-nav{
            li{
                list-style: none;
                display: inline-block;
                padding: 10px;
            }
        }
    }
  .icon-container{
    .icon-content{
        li{
            margin-top: 10px;
            padding: 15px;
            list-style: none;
            display: inline-block;
        }
    }
  }
//such a kind of utility classes for Header